<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9"> <input type="text" (keyup)="buscarHospital(input.value)" class="form-control" placeholder="Buscar Hospital" #input></div>
                    <div class="col-3"> <button (click)="crearHospital()" class="btn btn-primary btn-rounded"><i class="fa fa-plus mr-2"></i>Crear Hospital</button></div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-sín fa-2x">  </i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Hospitales registrados (<small>{{totalRegistros}}</small>)</h3>
                <table class="table table-hover">
                    <thead>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td class="w70">
                                <img (click)="mostrarModal(hospital._id)" class="pointer img-50 img-circle" [src]="hospital.img | imagen : 'hospital'"></td>
                            <td><input class="form-control" [(ngModel)]="hospital.nombre"> </td>
                            <td>
                                <button class="btn btn-primary" (click)="actualizarHospital(hospital)"><i class="fa fa-save"></i></button>
                                <button class="btn btn-danger" (click)="borrarHospital(hospital)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>