<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" (keyup)="buscarUsuario(input.value)" class="form-control" placeholder="Buscar Usuario" #input>
            </div>
        </div>

    </div>
</div>


<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-sín fa-2x">  </i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Usuarios registrados (<small>{{totalRegistros}}</small>)</h3>
                <table class="table table-hover">
                    <thead>
                        <th>Imagen</th>
                        <th>Correo</th>
                        <th>Nombre</th>
                        <th>Role</th>
                        <th>Auth</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td class="w70"><img (click)="mostrarModal(usuario._id)" class="pointer img-50 img-circle" [src]="usuario.img|imagen"></td>
                            <td>{{usuario.email}}</td>
                            <td>{{usuario.nombre}}</td>
                            <td>
                                <select name="role" class="form-control" [(ngModel)]="usuario.role">
                                    <option value='ADMIN_ROLE'>ADMIN_ROLE</option>
                                    <option value = 'USER_ROLE'>USER_ROLE</option>
                                </select>
                            </td>
                            <td>
                                {{usuario.google}}
                                <label *ngIf="usuario.google" class="label label-danger">Info</label>
                                <label *ngIf="!usuario.google" class="label label-primary">Info</label></td>
                            <td>
                                <button class="btn btn-primary" (click)="actualizarUsuario(usuario)"><i class="fa fa-save"></i></button>
                                <button class="btn btn-danger" (click)="borrarUsuario(usuario)"><i class="fa fa-trash"></i></button>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-secondary" (click)="cambiarDesde(-5)">Anteriores</button>
                <button class="btn btn-secondary" (click)="cambiarDesde(5)">Siguientes</button>
            </div>
        </div>
    </div>
</div>