<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form ngNativeValidate #f="ngForm" (submit)="guardarMedico(f)">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre</label>
                            <input [(ngModel)]="medico.nombre" name="nombre" type="text" class="form-control" placeholder="Ingrese Nombre">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Hospital</label>
                            <select (change)="cambioHospital($event.target.value)" class="form-control" [(ngModel)]="medico.hospital" name="hospital">
                                <option value="0">Seleccione Hospital</option>
                                <option *ngFor="let hospital of hospitales" [value]="hospital._id">{{hospital.nombre}}</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Grabar</button>
                        <button [routerLink]="'/medicos'" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title m-b-0">Hospital</h4>
                <img [src]="hospital.img | imagen : 'hospital'" class="rounded img-fluid">
            </div>
        </div>

    </div>
    <div class="col-md-3" *ngIf="medico._id">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title m-b-0">Fotografía</h4>
                <img (click)="cambiarFoto()" [src]="medico.img | imagen : 'medico'" class="pointer img-circle img-fluid">
            </div>
        </div>
    </div>
</div>