<h3>{{leyenda}}</h3>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)"><i class="mdi mdi-minus"></i></button>
    </div>
    <input #txtProgress type="text" (ngModelChange)="onChange($event)" class="form-control" name="progreso" placeholder="" aria-label="" aria-describedby="basic-addon1" [(ngModel)]="progreso">
    <div class="input-group-prepend">
        <button class="btn btn-primary" type="button" (click)="cambiarValor(5)"><i class="mdi mdi-plus"></i></button>
    </div>
</div>