<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">          
                  <app-grafica-dona [leyenda]="graficos.grafico1.leyenda" [etiquetas]="graficos.grafico1.labels" [datos]="graficos.grafico1.data" [tipo] ="graficos.grafico1.type"></app-grafica-dona>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">          
                  <app-grafica-dona [leyenda]="graficos.grafico2.leyenda" [etiquetas]="graficos.grafico2.labels" [datos]="graficos.grafico2.data" [tipo] ="graficos.grafico2.type"></app-grafica-dona>
            </div>
        </div>
    </div>
</div> 
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">          
                  <app-grafica-dona [leyenda]="graficos.grafico3.leyenda" [etiquetas]="graficos.grafico3.labels" [datos]="graficos.grafico3.data" [tipo] ="graficos.grafico3.type"></app-grafica-dona>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">          
                  <app-grafica-dona [leyenda]="graficos.grafico4.leyenda" [etiquetas]="graficos.grafico4.labels" [datos]="graficos.grafico4.data" [tipo] ="graficos.grafico4.type"></app-grafica-dona>
            </div>
        </div>
    </div>
</div>
